@page
@model IndexModel
@{
    ViewData["Title"] = "My Home page";
}
<img src="https://www.myonlineexams.com/wp-content/uploads/2018/08/Baner2SelV2.jpg" style="width:100%" />
<hr />
<div>
<h1>What We Says</h1>
    <p>Online Exams is best solution in the market to conduct online exams. It provides a easy way to create and manage exams. Its Examiner and Student dashboard is very very interactive, and the main thing is very very cheap than the other product available in the Market.</p>
</div>