@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .body {
        margin: auto;
        font-family: sans-serif
    }

    .section {
        background-color: #252121;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        width: 100%;
        margin: 0rem auto 0 auto;
    }

        .section img {
            height: 250px;
        }

        .section h1 {
            margin: auto;
            color: greenyellow;
        }

        .section p {
            color: #c0bdbd;
            margin-right: 15px;
        }

</style>
<img src="https://codeonthego.co.uk/wp-content/uploads/2020/08/Privacy-Policy-Banner-New-1024x338-1.png" style="width:100%" />
<div>
<h4>Privacy Policy</h4>
    <p>Security is the most important part in exams for both kinds of exams (manual and online). Here in Online Exams, we provide the highest level of security. We provide 100% security and confidentiality for your exams. With online exams you can easily conduct online exams remotely.</p>
</div>
<hr />
<body>
    <div class="section">
        <div class="text">
            <h1>Safe & Secure</h1>
            <p>
                Video Recording and Face Detection this is our one of the key feature for the security. We provide you complete recording of the candidate by using his computer/mobile webcam.
                Browser Protection this is our second key feature for the security. Candidate can not open any other application while solving his exam. If he tried such things we are noting it down for you. Sudent can not copy paste question and its answers. if he is doing such activity we catch all of his events and if you wish you can terminate his exam.
        </div>
        <img src="https://i2.wp.com/www.myonlineexams.com/wp-content/uploads/2018/08/security.png?w=256&ssl=1" alt="" />
        </p>
    </div>
    <hr />
    <div class="section">
        <div class="text">
            <h1>Safe & Secure</h1>
            <p>
                Proctoring has an important role in ensuring the credibility and the authenticity of any exam and its outcome. It is also referred to as remote proctoring in which the candidate is usually monitored via a webcam, mic, and access to the screen of the candidate during the exam.
        </div>
        <img src="https://i2.wp.com/www.myonlineexams.com/wp-content/uploads/2020/07/round-webcam.png?fit=130%2C130&ssl=1" alt="" />
        </p>
    </div>
</body>
<hr />
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-grayish">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>Online Examination System
                    </h6>
                    <p>
                        Online Exams provides a way to create exams the way you want. You can decide how your exam should be.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color:red">
                        Courses
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Dot Net</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Java</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Python</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">C Language</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color:red">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">About us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Privacy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">New Courses</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4" style="color:red">Contact</h6>
                    <p><i class="fas fa-home me-3 text-grayish"></i> INDIA,USA</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-grayish"></i>
                        onlineexamination@gamil.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-grayish"></i> 93 98 98 98 99</p>
                    <p><i class="fas fa-print me-3 text-grayish"></i> 99 89 88 99 88</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
