@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align:center;color:blue">Correct Answers</h1>
<hr />
<div>
<h5> 1.HTML stands for?</h5>
<p style="color:green">Hyper Text Markup Language</p>
</div>
<hr />
<div>
    <h5> 2.Who is making the web standars? </h5>
    <p style="color:green">The world wide web Consortium</p>
</div>
<hr />
<div>
    <h5> 3.How many tags are in a regular elements? </h5>
    <p style="color:green">2</p>
</div>
<hr />
<div>
    <h5> 4. what is the difference between an opening tag and a closing tag? </h5>
    <p style="color:green">closing tag has a/in front</p>
</div>
<hr />
<div>
    <h5> 5.br / what type of tag is this ?</h5>
    <p style="color:green">Break tag</p>
</div>
<hr />
<div>
    <h5> 6.body is this opening tag or a closing tag? ?
    </h5>
    <p style="color:green">Opening</p>
</div>
<hr />
<div>
    <h5> 7.Where is the meta tag only found? </h5>
    <p style="color:green">The home page</p>
</div>
<hr />
<div>
    <h5> 8.What is an element that does not have a closing tag called?</h5>
    <p style="color:green">Empty element</p>
</div>
<hr />
<div>
    <h5> 9.which of the following is an example of an empty element?</h5>
    <p style="color:green">"img /"</p>
</div>
<hr />
<div>
    <h5> 10.what should values always be enclosed in?</h5>
    <p style="color:green">Quotation marks</p>
</div>
<hr />
